# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_errpid

#vpp backup files
*.vpp.bak*
/ws/villarroel/u2/New Folder/srp/nbproject/private/
/ws/villarroel/u2/New Folder/ocs/nbproject/private/
/ws/villarroel/u2/ws26/ocs/nbproject/private/
/ws/villarroel/u2/ws26/srp/nbproject/private/
/ws/villarroel/u2/ws26/lsp/nbproject/private/
/ws/villarroel/u2/ws26/lsp/build/
